# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:adventurous-crane-113 # team: jamela-fernandez-29, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://adventurous-crane-113.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://adventurous-crane-113.convex.site
